//
   Created by aronthomas on 1/18/16.
doctype html
html
    head
        meta(charset='utf8')
        title Isomorphic Redux Demo
    body
        //h1 Sup
        #react-view
            !{component}
        script(src='/bundle.js')
        script(type="application/javascript") window.__INITIAL_STATE__ = !{JSON.stringify(initialState)};
